SECRET_KEY=change-me-to-a-random-string
MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/?retryWrites=true&w=majority
MONGO_DB=a11y_paradise
ADMIN_PASSWORD=change-me-to-a-secure-password
